<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>Fs8vHJG89vDcyDfkIB_a6gWLbI37Wnux</string>
	<key>Domain</key>
	<string>metaboliccompass.auth0.com</string>
</dict>
</plist>
