<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Circator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CircatorKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CircatorWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Complication - CircatorWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Glance - CircatorWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Notification - CircatorWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7881A3DC1BAF3B3E00ECB3C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7881A3F01BAF3B3E00ECB3C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7881A3FB1BAF3B3E00ECB3C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42F5B011BE1FCAE00195490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42F5B311BE1FD1E00195490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42F5B4B1BE20CDD00195490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42F5B861BE22EA800195490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
