<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>M-Compass</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>auth0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>105</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>9c8fe07d2ebf5808e873bbb23fe7a6c8ef76a22e</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>x-apple-health</string>
		<string>mfp</string>
		<string>mfphd</string>
		<string>fitbit</string>
		<string>strava</string>
		<string>loseit</string>
		<string>fb162575247235</string>
		<string>fb62572192129</string>
		<string>cardiograph</string>
		<string>withings-bd2</string>
		<string>nikeplus</string>
		<string>myplate</string>
		<string>garmin</string>
		<string>epicHaiku</string>
		<string>epicMyChart</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Metabolic Compass will use your calendar information only to help suggest timing changes -- we value your privacy --</string>
	<key>NSCameraUsageDescription</key>
	<string>Metabolic Compass does not use your camera usage information</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Metabolic Compass needs to access your Health Metrics for Display and Analysis</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Metabolic Compass values your privacy and honors your PII and HIPAA</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Metabolic Compass needs access to location services to write meal timing information</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Metabolic Compass needs access to location services to write meal timing information</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Metabolic Compass does not use your microphone information</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Metabolic Compass does not use your photo library information in any way to violoate PII or HIPAA</string>
	<key>UIAppFonts</key>
	<array>
		<string>gotham-book.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>DashboardFilterHeaderView</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
